<div class="sign_in">
    <div class="formPopup" id="Register">
      <form action="/add-student/" method="POST" class="formContainer">
        <h2>Please Register</h2>
        <input type="text" id="email" placeholder="South african ID Number" name="id" required>
        <input type="text" id="email" placeholder="Fullname" name="fullname" required>
        <input type="text" id="email" placeholder="Surname" name="surname" required>
        <input type="text" id="email" placeholder="Contact" name="contact" required>
        <input type="password" id="psw" placeholder="Your Password" name="pin" required>
        <input type="password" id="psw" placeholder="Confirm Password" name="confirm" required>
        <button type="submit" class="btn">Log in</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>